body {
    font-family: 'Source Sans Pro', sans-serif;
}

#home .nav-item {
    padding: 10px;
}

#home .nav-item .nav-link {
    color: black !important;
}

#home .icon-nav {
    margin-top: 5px;
    cursor: pointer;
}

#home .nav-item .active {
    color: #787878 !important;
}

#home .nav-item .nav-link:hover {
    color: #787878 !important;
}

#home .navbar-brand img {
    margin-left: 20px;
}

#home .line {
    width: 1px;
    height: 100%;
    background-color: #eee;
}

.btn1 {
    width: 3% !important;
    height: 5% !important;
    position: absolute !important;
    top: 50% !important;
    transform: translatey(-50%);
    border: 1px solid white !important;
    overflow: hidden;
}

.btn2 {
    width: 3% !important;
    height: 5% !important;
    position: absolute !important;
    top: 50% !important;
    left: 0;
    transform: translatey(50%);
    border: 1px solid white !important;
    overflow: hidden;
}

.btn1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    background-color: white;
    transition: 0.5s;
}

.btn2::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    background-color: white;
    transition: 0.5s;
}

.btn1:hover.btn1::after {
    left: 0;
}

.prev-icon {
    font-size: 30px;
    position: relative;
    z-index: 9;
    color: white !important;
    font-size: 15px !important;
}

.btn1:hover .prev-icon {
    color: black !important;
}

.btn2:hover.btn2::after {
    left: 0;
}

.next-icon {
    font-size: 30px;
    position: relative;
    z-index: 9;
    color: white !important;
    font-size: 15px !important;
}

.btn2:hover .next-icon {
    color: black !important;
}

#home .carousel-inner .one {
    background-image: url("../Images/bg-image-28.jpg");
    background-position: center;
    background-size: cover;
}

#home .carousel-inner .two {
    background-image: url("../Images/bg-image-29.jpg");
    background-position: center;
    background-size: cover;
}

#home .home-content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
}

#home .one h1 {
    margin-bottom: 30px;
    font-weight: 900;
    animation-name: show1;
    transform: scale(0);
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#home .one h4 {
    margin-bottom: 30px;
    animation-name: show2;
    transform: scale(0);
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#home .one .home-btn {
    animation-name: show3;
    animation-duration: 0.5s;
    transform: scale(0);
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes show1 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(2);
    }
}

@keyframes show2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes show3 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.2);
    }
}

.home-btn .first {
    color: white !important;
    font-size: 12px;
    background-color: #00c3da !important;
    padding: 10px 15px;
}

.home-btn .second {
    color: white !important;
    font-size: 12px;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 5px;
}

.home-btn .second:hover {
    background-color: white;
    color: black !important;
}

/***************************************/

#home .two h1 {
    margin-bottom: 30px;
    font-weight: 900;
    animation-name: show4;
    transform: scale(0);
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#home .two h4 {
    margin-bottom: 30px;
    animation-name: show5;
    transform: scale(0);
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#home .two .home-btn2 {
    animation-name: show6;
    animation-duration: 0.5s;
    transform: scale(0);
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes show4 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(2);
    }
}

@keyframes show5 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes show6 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.2);
    }
}

.home-btn2 .first {
    color: white !important;
    background-color: #00c3da !important;
    padding: 10px 15px;
}

.home-btn2 .second {
    color: white !important;
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 5px;
}

.home-btn2 .second:hover {
    background-color: white;
    color: black !important;
}

#home .content {
    background-color: rgba(0, 0, 0, 0.5);
}

/****************************About*****************************************/

#about .about-content p {
    font-size: 24px;
    font-weight: 300;
    max-width: 700;
    box-sizing: content-box;
    padding: 30px;
}

#about .about-content span::after {
    content: "";
    color: #00c3da;
    animation-name: write;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes write {
    0% {
        content: "|";
    }
    2% {
        content: "s|";
    }
    4% {
        content: "so|";
    }
    6% {
        content: "sof|";
    }
    8% {
        content: "soft|";
    }
    10% {
        content: "softw|";
    }
    12% {
        content: "softwa|";
    }
    14% {
        content: "softwar|";
    }
    16% {
        content: "software|";
    }
    18% {
        content: "softwares|";
    }
    20% {
        content: "softwares";
    }
    22% {
        content: "softwares|";
    }
    24% {
        content: "software";
    }
    26% {
        content: "softwar|";
    }
    28% {
        content: "softwa|";
    }
    30% {
        content: "softw|";
    }
    32% {
        content: "soft|";
    }
    34% {
        content: "sof|";
    }
    36% {
        content: "so|";
    }
    38% {
        content: "s|";
    }
    40% {
        content: "|";
    }
    42% {
        content: "w|";
    }
    44% {
        content: "we|";
    }
    46% {
        content: "web|";
    }
    48% {
        content: "webs|";
    }
    50% {
        content: "websi|";
    }
    52% {
        content: "websit|";
    }
    54% {
        content: "website|";
    }
    56% {
        content: "websites|";
    }
    58% {
        content: "websites";
    }
    60% {
        content: "websites|";
    }
    62% {
        content: "website|";
    }
    64% {
        content: "websit|";
    }
    66% {
        content: "websi|";
    }
    68% {
        content: "webs|";
    }
    70% {
        content: "web|";
    }
    72% {
        content: "we|";
    }
    74% {
        content: "w|";
    }
    76% {
        content: "|";
    }
    78% {
        content: "a|";
    }
    80% {
        content: "ap|";
    }
    82% {
        content: "app|";
    }
    84% {
        content: "apps|";
    }
    86% {
        content: "apps";
    }
    88% {
        content: "apps|";
    }
    90% {
        content: "app|";
    }
    92% {
        content: "ap|";
    }
    96% {
        content: "a|";
    }
    100% {
        content: "|";
    }
}

#about .about-content .about-btn {
    border: 2px solid #eee;
    font-size: 10px;
    padding: 10px 20px;
}

#about .about-content .about-btn:hover {
    background-color: black;
    color: white;
}

/*************************Team*********************************/

#team .info {
    left: 0;
    top: 40%;
    background-color: rgba(0, 195, 218, 0);
    transition: 0.5s;
}

#team .no1 {
    overflow: hidden;
}

#team .no1:hover .info {
    top: 0;
    background-color: rgba(0, 195, 218, 0.9);
}

#team .info i {
    opacity: 0;
    cursor: pointer;
    transition: 0.5;
}

#team .no1:hover .info i {
    opacity: 1;
}

#team .info .member-info {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#team .team-content h2 {
    font-size: 38px;
    font-weight: 700;
}

#team .team-content h3 {
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 700;
    color: #eee;
    z-index: -1;
}

/***************************************************/

#work .work-content {
    background-color: #636363;
}

#work .working {
    position: relative;
}

#work .working h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#work .working h3 {
    position: absolute;
    font-weight: 700;
    font-size: 60px;
    left: 0;
    top: 10px;
    transform: translatey(-50%);
    opacity: 0.3;
    color: #eee;
}

/********************************************/

#prices .prices-content h2 {
    font-size: 38px;
    font-weight: 700;
    position: relative;
    z-index: 0;
}

#prices .prices-content h2::after {
    position: absolute;
    content: "C";
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 700;
    color: #eee;
    z-index: -1;
}

#prices {
    background-color: #f7f7f7;
}

#prices .item {
    background-color: white;
}

#prices .item h2 {
    position: relative;
    padding-left: 10px;
    font-size: 55px;
    font-weight: 500;
}

#prices .item h2::before {
    content: "$";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
}

#prices .item .line {
    background-color: #eee;
    width: 80%;
    margin: auto;
    height: 2px;
}

#prices .item p {
    margin-top: 20px;
}

#prices .item .btn {
    background-color: #00c3da !important;
    color: white !important;
}

#prices .special h2 {
    color: #00c3da;
}
#prices .special {
    position: relative;
}
#prices .sp .best{
    background-color: #00c3da;
    color: white;
    position: absolute;
    border-radius: 15px;
    padding: 3px 7px;
    right:5%;
    top:5%;

}
/**************************************************************/

#clients {
    background-color: #f7f7f7;
}
.client {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 50px;
    border-radius: 20px;
   
}
.client h4 {
    font-weight: 700;
}

.client span {
    font-size: 12px;
    color: #636363;
}
.for-img img {
    width: 7%;
    border-radius: 50%;
    position: relative;
    top: 100%;
    transform: translatey(50%);
}
#clients .prev-icon {
    font-size: 30px !important;
    color: #787878 !important;
}

#clients .carousel-control-prev:hover .prev-icon {
    color: #00c3da !important;
}

#clients .next-icon {
    font-size: 30px !important;
    color: #787878 !important;
}

#clients .carousel-control-next:hover .next-icon {
    color: #00c3da !important;
}

#clients .carousel-indicators .btn-client {
    background-color: #00c3da !important;
    margin-top: 50px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/**********************************************************/

#contacts .content h2 {
    font-size: 38px;
    font-weight: 700;
    position: relative;
    z-index: 0;
}

#contacts .content h2::after {
    position: absolute;
    content: "G";
    left: 0;
    top: 0;
    transform: translatey(-50%);
    font-size: 80px;
    font-weight: 700;
    color: #eee;
    z-index: -1;
}
.your-info label{
    padding:10px 0;
}
.your-info input ,.your-info textarea{
    width: 75% !important;
}
.your-info .btn{
    background-color: #00c3da !important;
    color: white !important;
    border-radius: 5px;
}
/***********************************************************/
@media screen and (max-width:992px){
    #work .work-content{
        text-align: center;
    }
    #work .work-content p{
        margin-bottom: 20px;
    }
    #work .working h3{
        top:20px;
        left:50%;
        transform: translate(-50%,-50%);
    }
    #prices .sp{
        padding:20px;
    }
    #clients .carousel-control-prev i, #clients .carousel-control-next i{
       color: transparent !important;
       
    }
    #clients .carousel-control-prev , #clients .carousel-control-next{
     display: none !important;
    }
    .for-img img{
        width:10%;
    }
    .client{
        width: 75%;
    }
}
@media screen and (max-width:768px){
    #home .home-content .btn1,#home .home-content .btn2{
       display: none;
    }
    .client{
        width: 85%;
    }
    .for-img img{
        width:13%;
    }
}
@media screen and (max-width:576px){
    #home .one,#home .two{
        text-align: center;
    }
    #home .two h1{
        max-width: 200;

    }
    .client{
        width: 90%;
    }
    .for-img img{
        width:17%;
    }
}
